[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

header {
    position: fixed;
    top: 0;
    left: 10px;
    color: azure;
}

.body {
    background-image: url("https://www.walldevil.com/wallpapers/a74/abstract-art-lightning-blur-background-web.jpg");
    height: 100vh;
    width: 100vw;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
}

footer {
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    position: fixed;
    color: black;
}

.logIn {
    display: -webkit-flex;
    display: flex;
    height: 100vh;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 16px;
}

.show {
    opacity: 1;
    transition: opacity 2000ms;
}

.hide {
    opacity: 0;
}

.content {
    width: 1000px;
    height: auto;
}

.paragraph {
    font-size: 22px;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.45);
    top: auto;
    padding-top: 60px;
}

.navbar {
    margin-bottom: 0;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar .navbar-nav:focus,
.navbar .navbar-nav:active {
    outline: none;
}

.navbar .navbar-nav {
    font-weight: 700;
}

.navbar .navbar-nav:focus {
    outline: none;
}

.navbar-nav {
    color: white;
}

.navbar-nav a {
    font-family: monospace;
    color: rgba(255, 255, 255, 0.90);
}

.navbar-header {
    font-family: monospace;
    color: rgba(255, 255, 255, 0.45);
}

.navbar-header span {
    font-size: 140%;
    color: white;
}

.navbar-header #headerChat {
    color: red;
}

.row {
    display: flex;
}

.chatBox {
    margin: 5vh auto;
    width: 80%;
    height: 80vh;
    background: #e0e1e2;
    border-radius: 3px;
    box-shadow: 0 0 25px #3a9fc4;
}

.chat {
    display: block;
    width: 100%;
    height: 92%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 15px;
    margin-top: 4px;
    margin-bottom: 12px;
}

.chat .messages {
    height: auto;
    list-style: none;
}

.chat .messages li {
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: right;
}

.chat .messages li:after {
    content: '';
    clear: both;
    display: block;
}

.chat .messages li .head {
    font-size: 13px;
}

.chat .messages li .name {
    font-weight: 600;
    position: relative;
    text-align: right;
}

.chat .messages li .message {
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    word-wrap: break-word;
    position: relative;
    color: aliceblue;
}

.chat .messages li .message:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 5px 5px;
    display: block;
    width: 0;
    margin-left: -15px;
    top: -5px;
    left: 95%;
    border-color: #7bc4ef transparent;
}

.chat .messages li.i .head {
    text-align: right;
}

.chat .messages li.i .name {
    margin-right: 5px;
}

.chat .messages li.i .message {
    background-color: #7bc4ef;
    float: right;
    margin-right: 1%;
}

.chat .messages li.i .message:before {
    right: 16px;
    border-bottom-color: #7bc4ef;
}

.chat .messages li.i .message img {
    max-width: 100%;
    max-height: 100%;
}

.chatSubmitBox {
    margin-left: 4px;
    margin-bottom: 8px;
    width: 100%;
}

.chatSubmitBox #chatText,
#chatSubmit {
    display: inline;
}

.chatSubmitBox #chatText {
    height: 35px;
    color: #393939;
    background-color: white;
    width: calc(100% - 60px);
    margin-right: 4px;
    align-self: auto;
    text-align: left;
}

.chatSubmitBox #chatSubmit {
    color: #7ac5ef;
    text-transform: uppercase;
    font-weight: 9000;
    align-self: center;
    margin: auto 0px;
    cursor: pointer;
    margin-left: 2px;
    padding-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form {
    display: inline-block;
    width: 70%;
}

.paragraph p span {
    color: red;
}

.chat p span {
    color: red;
}

input {
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: floralwhite color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

#connectFB {
    position: relative;
    display: flex;
    background-image: url(../assets/fbimage.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 20px;
    align-content: flex-start;
    padding-bottom: 10px;
    margin-top: 8px;
}

#username,
#password {
    display: block;
    color: aliceblue;
    width: 100%;
}

#password:focus,
#username:focus {
    color: aliceblue;
}

#logIn,
#signUp {
    display: inline-block;
    width: 49%;
}

#signUp {
    margin-bottom: 4px;
}

#notifyUser {
    font-size: 80%;
}

#uploadFile{
    visibility: none;
    display: none;
}

#uploadImage{
    display: inline-block;
    background-image: url(../assets/image-upload.png);
    background-size: contain;
    width: 3%;
    height: 30px;
    margin-top: 3px;
    margin-right: 5px;
}

@import url("http://fonts.googleapis.com/css?family=Open+Sans");
.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    background-color: #e6e6e6;
}

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    opacity: 0.8;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn-primary,
.btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-primary.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    background-color: #4a77d4;
    background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
    background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: linear-gradient(top, #6eb6de, #4a77d4);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
    border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    filter: none;
    background-color: #4a77d4;
}

.btn-block {
    width: 100%;
    display: block;
}

.btn-action-hide {
    visibility: hidden;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
